<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS that allows responsive resizing CSS only -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Base CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
{% block css %}
{% endblock %}
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PRODUCTS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">PROFILE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">LOGIN</a>
        <a href="#" class="w3-bar-item w3-button">REGISTER</a>
        <a href="#" class="w3-bar-item w3-button">SETTINGS</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PRODUCTS</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT US</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGIN</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SETTINGS</a>
</div>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Pathfinders Inc.</p>
</footer>

<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>

</body>
</html>