/* SEARCH STYLING */
.search-products {
  background-color: #a4a4a4;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.search-products
input[type='text'] {
  border: none;
  padding: 7px;
}

/* COLUMN LAYOUT */
.column {
  margin: auto;
  margin-bottom: 20px;
}

/* Middle column */
.column.product-list {
  background-color: rgb(130, 130, 130);
  text-align: center;
  width: 80%;
}

img {
  width: 300px;
}