/* SEARCH STYLING */
.search-products {
  background-color: rgb(83, 83, 83);
  margin: auto;
  text-align: center;
}
.search-products
input[type='text'] {
  border: none;
  padding: 7px;
}

/* COLUMN LAYOUT */
.column {
  margin: auto;
}

/* Middle column */
.column.product-list {
  background-color: rgb(130, 130, 130);
  text-align: center;
  width: 80%;
}

img {
  width: 300px;
}