{% extends "base.html" %}
{% block title %}Order Completed{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-jLKHWM8AA2hDO1HVaeQ5ZlbB6z7uaNHuU8kMjDQb4dqL5t6nYTAuPP6H/0Y1+ODp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ordercompleted.css')}}">
{% endblock %}

{% block content %}
    <h1>Thank You for Your Order!</h1>
    <p>Your order has been successfully completed. Below are the details of your purchase:</p>

    <div class="order-summary">
        <h2>Order Summary</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <!-- <td colspan="3" style="text-align:right; font-weight:bold;">Subtotal</td>
                    <td>$55.00</td> -->
                </tr>
                <tr>
                    <!-- <td colspan="3" style="text-align:right; font-weight:bold;">Shipping</td>
                    <td>$5.00</td> -->
                </tr>
                <tr>
                    <td colspan="3" style="text-align:right; font-weight:bold;">Total</td>
                    <td>${{total}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="shipping-info">
        <h2>Shipping Information</h2>
        <table>
            <tr>
                <th>User</th>
                <td>{{ userName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>123 Main St, Anytown, USA</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ userEmail }}</td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>

    <div class="footer">
        <p>If you have any questions about your order, feel free to <a href="mailto:support@pathfinders.com">contact us</a>.</p>
    </div>
</div>
{% endblock %}