{% extends "base.html" %}
{% block title %}Products Page{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css')}}">
{% endblock %}

{% block content %}
<!-- Products Page -->
<div class="search-products">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." id="search-input" oninput="searchProducts()">
    </form>
</div>

<div class="row">
    <div class="product-list">
      <div id="product-container">
        <!-- Each product item will be rendered here -->
      </div>
    </div>
</div>

<script>
//INITIAL LOAD OF PRODUCTS USING A PROMISE
fetch('/api/Products')
    .then(response => response.json())
    .then(data => {
        const productContainer = document.getElementById('product-container');
        data.Products.forEach(Products => {
            let productDiv = document.createElement('div');
            productDiv.id = 'product-creation'
            productDiv.innerHTML = `
                    <div class="column product-img">
                        <h2>${Products.Name}</h2>
                        <img src="${Products.Img}" alt="${Products.ID}">
                        <p>Price: $${Products.Price}</p>
                        <button onclick="addToCart(${Products.ID})">Add to Cart</button>
                        </div>
                    <div class="column product-description">
                        <p>${Products.Description}</p>
                    </div>
                `;
            productContainer.appendChild(productDiv);
        });
    })
    .catch(error => console.log('Error:', error));
</script>
<script src="{{ url_for('static', filename='js/callable_functions.js')}}"></script>
{% endblock %}