{% extends "base.html" %}
{% block title %}Products Page{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css')}}">
{% endblock %}

{% block content %}
<!-- Products Page -->
<div class="search-products">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">
        <span inert class="material-symbols-outlined">search</span>
        </button>
    </form>
</div>

<div class="row">
    <div class="column filter-panel">
      <h2>Filter Panel Goes Here</h2>
    </div>
    
    <div class="column product-list">
      <div id="product-container">
        <!-- Each product item will be rendered here -->
      </div>
    </div>
</div>

<script>
  fetch('/api/Products')
      .then(response => response.json())
      .then(data => {
          const productContainer = document.getElementById('product-container');
          data.Products.forEach(Products => {
              let productDiv = document.createElement('div');
              productDiv.innerHTML = `
                  <h2>${Products.name}</h2>
                  <p>Price: $${Products.price}</p>
                  <button onclick="viewDetails(${Products.id})">View Details</button>
                  <button onclick="addToCart(${Products.id})">Add to Cart</button>
              `;
              productContainer.appendChild(productDiv);
          });
      })
    //   .catch(error => console.log('Error:', error));

//   function viewDetails(id) {
//       window.location.href = `/products/${id}`;
//   }

//   function addToCart(id) {
//       console.log(id)
//       fetch(`/api/add_to_cart/${id}`, {
//           method: 'POST',
//           headers: {
//                   'Content-Type': 'application/json', // Specify JSON content type
//                   },
//           body: JSON.stringify({})
//       }).then(response => {
//           window.location.href = "/cart"
//       }).catch(error => {
//           console.error('There was a problem with the fetch operation:', error);
//       })
//   }

</script>
{% endblock %}