{% extends "base.html" %}
{% block title %}Products Page{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css')}}">
{% endblock %}

{% block content %}
<!-- Products Page -->
<div class="search-products">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." id="search-input" oninput="searchProducts()">
    </form>
</div>

<div class="row">
    <div class="column product-list">
      <div id="product-container">
        <!-- Each product item will be rendered here -->
      </div>
    </div>
</div>

<script>

async function searchProducts() {
  const query = document.getElementById('search-input').value.trim();
  const resultsDiv = document.getElementById('product-container');
  if (query === '') {
      while (resultsDiv.firstChild) {
          resultsDiv.removeChild(resultsDiv.firstChild);
      }
      fetch('/api/Products')
        .then(response => response.json())
        .then(data => {
            const productContainer = document.getElementById('product-container');
            data.Products.forEach(Products => {
                let productDiv = document.createElement('div');
                productDiv.innerHTML = `
                    <h2>${Products.name}</h2>
                    <img src="${Products.Img}" alt="${Products.ID}">
                    <p>Price: $${Products.Price}</p>
                    <button onclick="viewDetails(${Products.ID})">View Details</button>
                    <button onclick="addToCart(${Products.ID})">Add to Cart</button>
                `;
                productContainer.appendChild(productDiv);
            });
        })
        .catch(error => console.log('Error:', error));
        return;
  } else {
      fetch(`/api/Products/search?query=${query}`)
          .then(response => response.json())
          .then(data => {
              resultsDiv.innerHTML = '';
              data.results.forEach(Products => {
                  let productDiv = document.createElement('div');
                  productDiv.innerHTML = `
                      <h2>${Products.Name}</h2>
                      <p>Price: $${Products.Price}</p>
                  `;
                  resultsDiv.appendChild(productDiv);
              });
          });
  }

}

fetch('/api/Products')
    .then(response => response.json())
    .then(data => {
        const productContainer = document.getElementById('product-container');
        data.Products.forEach(Products => {
            let productDiv = document.createElement('div');
            productDiv.innerHTML = `
                <h2>${Products.Name}</h2>
                <img src="${Products.Img}" alt="${Products.ID}">
                <p>Price: $${Products.Price}</p>
                <button onclick="viewDetails(${Products.ID})">View Details</button>
                <button onclick="addToCart(${Products.ID})">Add to Cart</button>
            `;
            productContainer.appendChild(productDiv);
        });
    })
    .catch(error => console.log('Error:', error));

  function addToCart(id) {
      console.log(id)
      fetch(`/api/add_to_cart/${id}`, {
          method: 'POST',
          headers: {
                  'Content-Type': 'application/json', // Specify JSON content type
                  },
          body: JSON.stringify({})
      }).then(response => {
          window.location.href = "/Cart"
      }).catch(error => {
          console.error('There was a problem with the fetch operation:', error);
      })
  }

</script>
{% endblock %}